
<form  [formGroup]="cusForm" [hidden]="send_mail"> <!--<div (click)="send_mail=true"><a href="javasceipr:void(0)">再寄一次</a></div>-->
    <table class="table table-bordered col-xs-12 col-md-6" style="margin:auto;">
        <tr>
         <td align="center" class="login-td">
             <div>
                 <h1>忘記密碼  <i class="fas fa-key"></i></h1>
             </div>
             <div class="form-group row">
                 <label for="staticEmail" >帳號</label>
                 <input type="text" formControlName="email" class="form-control login-input" id="staticEmail" placeholder="請輸入 email" title="請輸入 email">
             </div>
             <div>
                 <button class="btn btn-warning" [disabled]="cusForm.status=='INVALID'" (click)="sendPasswordResetEmail()" style="width:300px;">
                    <i class="fas fa-envelope"></i><span style="margin-left:5px"> 送出</span>
                </button>
             </div>
         </td>
        </tr>
    </table>
 </form>

 <div style="text-align: center;" [hidden]="!send_mail">
     <h1>
         <i class="fas fa-envelope-open"></i>
         <span style="margin-left:5px"> 信件已寄出，請到信箱點擊重設密碼連結 </span>
    </h1>
    <div (click)="send_mail=false" style="margin-top:30px"><a href="javasceipr:void(0)"><h3>再寄一次</h3></a></div>
 </div>
