.login-input{
    width:300px;
    display: inline-block;
    margin-left: 5px;
}
.form-group{
    width: 100%;
    display: inline-block;
    text-align: center;
}
label{
    cursor: pointer;
}
.login-td{
    padding: 50px 10px;
    border: 3px dashed #ffce1b;
    box-shadow: 8px 8px 8px #c6c6c6;
}