


<div *ngIf="myPhoto==null || myPhoto=='' ">
    <div *ngIf="imgShow.show==0" class="btn btn-light btn-file" (dragover)="dragoverHandler($event)" (drop)="dropHandler($event,'imgShow','drop')" style="width:100%;height:150px">
        <span class="btn-text">瀏覽</span> <input type="file" (change)="dropHandler($event,'imgShow','change')">
    </div>
    
    <div *ngIf="imgShow.show==1" class="pic picframe"  style="width:100%">
        <div class="image-tool">
            <i class="fas fa-times" (click)="deleteAddSlider()" title="刪除圖片"></i>
        </div>
        <img [src]="imgShow.src" class="img-thumbnail" title="商店顯示圖片" style="width:100%;">  
    </div>
</div>
    

<div *ngIf="myPhoto!=null && myPhoto!='' " class="pic_old picframe">
    <div class="image-tool">
        <i class="fas fa-times" (click)="goDeleteBanner()" title="刪除資料庫的的圖片"></i>
    </div>
    <img [src]="myPhoto" class="img-thumbnail" title="商店顯示圖片" style="width:100%;">
</div>


