

<div class="page-title"><h2>密碼修改</h2></div>

<div class="page-title third-party-login" [hidden]="userInfo.providerId=='password' ">
    <div [hidden]="userInfo.providerId=='google.com' ">
        <i class="fab fa-facebook register-icon" ></i><h2>您使用 Facebook 帳號登入，不需要使用密碼</h2>
    </div>
    <div [hidden]="userInfo.providerId=='facebook.com' ">
        <i class="fab fa-google-plus register-icon"></i><h2>您使用 Google 帳號登入，不需要使用密碼</h2>
    </div>
   
</div>


<form  [formGroup]="cusForm">
    <table class="table table-bordered col-12 col-md-4" style="margin:auto">
        <tr>
            <th class="table-sky">舊密碼</th>
            <td>
                <input type="password" formControlName="oldPassword"  class="form-control" placeholder="請輸入舊密碼" [hidden]="userInfo.providerId!='password'">
                <input class="form-control" placeholder="請輸入舊密碼" [hidden]="userInfo.providerId=='password'" disabled >
            </td>
        </tr>
        <tr>
            <th class="table-sky">新密碼</th>
            <td>
                <input type="password" formControlName="newPassword"  class="form-control" placeholder="請輸入新密碼" [hidden]="userInfo.providerId!='password'">
                <input class="form-control" placeholder="請輸入新密碼" [hidden]="userInfo.providerId=='password'" disabled>
            </td>
        </tr>
        <tr>
            <th class="table-sky">確認新密碼</th>
            <td>
                <input type="password" formControlName="newPasswordConfirm"  class="form-control" placeholder="請再次輸入新密碼" [hidden]="userInfo.providerId!='password'">
                <input class="form-control" placeholder="請再次輸入新密碼" [hidden]="userInfo.providerId=='password'" disabled>
            </td>
        </tr>
        <tr>
            <td colspan="10" class="error-msg"  align="center"><strong>{{ errorMsg }}</strong></td>
        </tr>
        <tr>
            <td colspan="10" align="center">
                <button class="btn btn-light" (click)="variAccount()"  [disabled]="cusForm.status=='INVALID'" style="width:300px">確認修改</button>
            </td>
        </tr>
    </table>
</form>
