.bg-date{
    width:14.285%;
    background: #c2e4fd
}
.bg-holiday1{
    width:14.285%;
    background:#85f0b6 ;
  }
  .bg-holiday2{
    width:14.285%;
    background:#ffcccc;
  }
.fa-window-close{
    color: #ff3939;
    padding-left: 8px;
    cursor: pointer;
    font-size: 18px;
}
.fa-plus-square{
    color: #67a0e8;
    cursor: pointer;
    font-size: 18px;
    float:right;
    margin-right: 3px;
}
.fa-file-signature{
    color: #4182d6;
    cursor: pointer;
    font-size: 18px;
    float:right;
    margin-right: 3px;
}

.setting-list{
    text-align: right;
    padding-right: 8px;
}
.setting-item{
    margin-top: 5px;
    width:100%;
}


.day-tool{
    float:left;
    width:100%;
    border: 1px dashed #e6edff; 
    background: #e6edff;
    padding: 5px;
}
.add-frame{
    text-align:center; 
    display:inline-block; 
    width:100%; 
    margin-top:5px
}


.select-div{
    margin-bottom:15px;
    display:inline-block;
    width:100%;
    text-align: center
}
.select-month{
    width:120px;
    margin:15px;
    position:relative;
    top:2px;
}

.ui-datepicker-calendar {
    display: none !important;
}

.nostore{
    width:100%;
    text-align:center;
    margin-top:50px;
}


h3{
    text-align: center;
    padding: 10px;
}

.modal-dialog {
    max-width: 1150px;
    margin: auto;
}
/*======= RWD 改版後 增加======= */
.RWD-td{
    min-height:180px;
}

.screen-computer{
    display: inline-block;
}
.screen-mobile{
    display: none;
}   

.fa-clock{
    font-size: 1.5em;
    margin-top: 5px;
    display: block;
    cursor: pointer;
}

.margin100{
    margin-bottom: 100px;
}
.modal-dialog{
    margin-top:20px;
}
  
.table td, .table th {
    padding: 0.25rem;
}

.modal-body{
    max-height: 550px;
    overflow: auto;
}

.favorite-icon{
    color: #ccc;
    cursor: pointer;
    padding: 0 5px;
}

.love{
    color:red;
}

@media screen  and (max-width:1200px){
    .modal-dialog {
        width: 90%;
        margin: auto;
    }
}


@media screen  and (max-width:1000px){
    .RWD-td{
        min-height:160px;
        font-size: .85em;;
    } 
}

@media screen  and (max-width:770px){
    .modal-body{
        max-height: 450px;
        overflow: auto;
    }
 
    .RWD-td{
        min-height:initial;
    }
    .table td, .table th{
        padding: 0;
    }
    .screen-computer{
        display: none;
        
    }
    .screen-mobile{
        display: inline-block;
    }   
}

@media screen  and (max-width:520px){
    .day-title{
        display: block;
        text-align: center;
        margin: 3px 0;
    }
}






