.fa-window-close{
    color: #ff3939;
    padding-left: 5px;
    cursor: pointer;
    font-size: 18px;
}
.fas{ 
  font-size: 22px;
  cursor: pointer;
}
.fa-pen-square{color:#004cff}
.fa-window-close{color:red;}

.add-btn{
  width: 95%;
  display: inline-block;
  margin: 25px 0px 5px 0px;
}

.mtable{ width:160px; }



.tab-content{
    text-align: center;
    padding-top: 15px;
}

.time-frame{
  max-width: 580px;
  margin: auto;
  margin-top: 30px;
}

/*
.fa-save{
  cursor: pointer;
  font-size: 20px;
  color: #0565b1;
}
*/

